:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #163055;
    --color-secondary: #163055;
    --color-dark: #163055; 
    --color-bg: #000000; 

    /* Fonts */
    --font-robot: "Roboto";
}